config globals 'globals'
    option enabled '0'
    list interface 'eth0'
    option silent '0'

config payload
    option enabled '1'
    option type 'http'
    option payload 'node-36-250-1-90.speedtest.cn'
    option comment ''

config payload
    option enabled '0'
    option type 'https'
    option payload 'node-36-250-1-90.speedtest.cn'
    option comment ''

config payload
    option enabled '0'
    option type 'binary'
    option payload '/etc/fakehttp/example_payload'
    option comment ''

config advanced 'advanced'
    # -f  skip firewall rules
    option skip '0'
    # -g  disable hop count estimation
    option disable_estimation '0'
    # -y <pct>  raise TTL dynamically to <pct>% of estimated hops
    option pct '-1'
    # -m <mark>  fwmark for bypassing the queue
    option fwmark_bypassing '-1'
    # -x <mask>  set the mask for fwmark
    option fwmark_handle '-1'
    # -n <number>  netfilter queue number
    option queue_number '-1'
    # -r <repeat>  duplicate generated packets for <repeat> times
    option repeat '-1'
    # -t <ttl>  TTL for generated packets
    option ttl '-1'
    # -z  use iptables commands instead of nft
    option use_iptables '0'